@import "colors.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font", "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 10px;
}


/* Animations */
@keyframes ws_normal {
    0% {
        background: @surface_container_low;
    }

    50% {
        background: @surface_container;
    }

    100% {
        background: @surface_container_low;
    }
}

@keyframes ws_active {
    0% {
        background: @primary_fixed_dim;
    }

    50% {
        background: @primary;
    }

    100% {
        background: @primary_fixed_dim;
    }
}

@keyframes ws_hover {
    0% {
        background: @primary_container;
    }

    50% {
        background: @primary_fixed;
    }

    100% {
        background: @primary_container;
    }
}

@keyframes tb_normal {
    0% {
        background: @surface_container_low;
    }

    50% {
        background: @surface_container;
    }

    100% {
        background: @surface_container_low;
    }
}

@keyframes tb_active {
    0% {
        background: @secondary_fixed_dim;
    }

    50% {
        background: @secondary;
    }

    100% {
        background: @secondary_fixed_dim;
    }
}

@keyframes tb_hover {
    0% {
        background: @secondary_container;
    }

    50% {
        background: @secondary_fixed;
    }

    100% {
        background: @secondary_container;
    }
}

window#waybar {
    background: transparent;
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

.modules-left>*>*,
.modules-center>*>*,
.modules-right>*>* {
    border-radius: 10px;
    margin: 4px 2px 0px 2px;
    color: @on_surface;
    background: @surface_container;
    opacity: 0.8;
    padding: 0.2rem 1rem;
}

tooltip {
    background: @surface_container_high;
    color: @on_surface;
    border-radius: 7px;
    border-width: 0px;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 0px;
    color: @on_secondary;
    background: @surface_container_low;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: @primary;
    color: @on_primary;
    margin-left: 2px;
    padding-left: 11px;
    padding-right: 11px;
    margin-right: 2px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
    background: @primary_container;
    color: @on_primary_container;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 0px;
    color: @on_surface_variant;
    background: @surface_container_low;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @secondary;
    color: @on_secondary;
    margin-left: 2px;
    padding-left: 11px;
    padding-right: 11px;
    margin-right: 2px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button:hover {
    background: @secondary_container;
    color: @on_secondary_container;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#tray menu * {
    min-height: 16px
}

#tray menu separator {
    min-height: 10px
}

/* Module styling */
#backlight,
#battery,
#bluetooth,
#custom-cava,
#custom-cliphist,
#clock,
#custom-cpuinfo,
#cpu,
#custom-display,
#custom-github_hyde,
#custom-gpuinfo,
#custom-hyprsunset,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-notifications,
#custom-power,
#privacy,
#pulseaudio,
#custom-sensorsinfo,
#custom-spotify,
#taskbar,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#custom-weather,
#window,
#workspaces,
#controls,
#media-controls {
    padding: 0.1rem 0.5rem;
}

#window {
    padding-right: 1rem;
}

/* Special module styling */
#battery.warning {
    color: @warning;
}

#battery.critical {
    color: @error;
}

#network.disconnected {
    color: @error;
}

/* Keep these unchanged */
#workspaces,
#taskbar {
    padding: 0px;
}